/* blue color - #199bd7 */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #16222D;
    margin-top: 50px;
}

header h1 {
    font-family: avenirBold;
    text-align: center;
    width: 300px;
    font-size: 2rem;
}

header h2 {
    font-family: "roboto";
    color: #189AD6;
    text-align: end;
    width: 300px;
    font-size: 1.1rem;
}

#mainContent {
    width: 500px;
    margin: 30px auto;
    font-family: "roboto";
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(206, 206, 206);
    border-radius: 4px;
    color: rgb(87, 87, 87);
}

#tableOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    font-size: .8rem;
}

#tableOptions div {
    height: 20px;
    display: flex;
}

#search {
    border: 1px solid #dadfe3;
    border-radius: 4px;
    background-color: rgb(242, 244, 245);
    text-indent: 5px;
}

#rightOptions{
    display: flex;
    align-items: center;
}

#perPage {
    border: 1px solid #dadfe3;
    border-radius: 4px;
    background-color: rgb(242, 244, 245);
    margin: auto 5px;
}

#perPage {
    width: 40px;
}

#totalResults {
    margin-left: 5px;
}

#mainTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

th {
    text-align: left;
}

.emptyRow {
    height: 51px;
}

.dataRow td {
    border-bottom: 1px solid #dadfe3;
    color: black;
}

.elementImage {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition-duration: .02s;
    background-size: cover;
    background-position: center;
}

.elementTitle {
    text-indent: 20px;
}

table img:hover {
    transform: scale(1.02);
}

#noResultsFound {
    width: 500px;
    position: absolute;
    transform: translateY(-350px);
    margin-top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#noResultsFound span {
    font-size: 100px;
    color: #189AD6;
}

#pagesButtons {
    display: flex;
    justify-content: center;
}

#pagesButtons button {
    height: 25px;
    width: 25px;
    border: 1px solid #dadfe3;
    border-radius: 4px;
    background-color: rgb(242, 244, 245);
    cursor: pointer;
    font-size: 14px;
}

#allBtns {
    display: flex;
}

#addElement {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 4px;
    padding: 11px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #199bd7;
    border: none;
    transition-duration: .15s;
    cursor: pointer;
}

#addElement:hover {
    background-color: #1475a1;
}

#pageFade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.281);
    opacity: 0;
    transition-duration: .2s;
    z-index: -5;
}

.pageFadeDisplayed {
    z-index: 10 !important;
    opacity: 1 !important;
}

#myForm {
    position: fixed;
    font-family: "roboto";
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 30px auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -70%);
    background-color: #fff;
    color: #16222D;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(206, 206, 206);
    border-radius: 4px;
    transition-duration: .2s;
    opacity: 0;
    z-index: -5;
}

.myFormDispalyed {
    z-index: 20 !important;
    opacity: 1 !important;
    transform: translate(-50%, -50%) !important;
}

#myForm label {
    font-size: 1.1rem;
}

.formInput {
    color: #16222D;
    font-family: "roboto";
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid rgb(218, 218, 218);
    min-height: 30px;
    height: 30px;
    margin-bottom: 15px;
}

#descriptionForm {
    min-height: 70px;
    height: 70px;
}

.noFocus:focus-within {
    outline: none;
}

#formWarn {
    color: red;
    font-style: italic;
    text-align: center;
    font-size: .8rem;
}

#myForm button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 4px;
    padding: 11px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #199bd7;
    border: none;
    transition-duration: .15s;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 50px;
}

#myForm button:hover {
    background-color: #1475a1;
}

#footerDiv{
    height: 50px;
}

#instructionsMain{
    position: fixed;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-70%);
    transition-duration: .5s;
}

.instructionsHidden{
    transform: translate(-300px, -70%) !important;
}

#instructionsDiv{
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 8px rgb(206, 206, 206);
    font-family: "Roboto";
    padding: 30px 0;
}

#instructionsDiv h2{
    font-size: 1.2rem;
    margin: 10px;
}

#instructionsDiv li{
    margin: 5px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

#instructionsDiv span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 4px;
    margin-right: 5px;
}

#questionDiv{
    width: 30px;
    height: 30px;
    background-color: white;
    color: #199bd7;
    transform: translateY(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(206, 206, 206);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#questionDiv:hover {
    color: #1475a1;
}

@font-face {
    font-family: avenirBold;
    src: url(/assets/AvenirLTStd-Black.otf);
}