/* blue color - #199bd7 */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 245);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #16222D;
    margin-top: 50px;
}

header h1 {
    font-family: avenirBold;
    text-align: center;
    width: 300px;
    font-size: 2rem;
}

header h2 {
    font-family: avenirRoman;
    color: #189AD6;
    text-align: end;
    width: 300px;
    font-size: 1.1rem;
}

#mainContent {
    width: 500px;
    margin: 30px auto;
    font-family: avenirRoman;
    background-color: #fff;
    padding: 20px 20px;
    box-shadow: 0px 0px 8px rgb(206, 206, 206);
    border-radius: 4px;
}

#tableOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

#tableOptions div {
    height: 20px;
    display: flex;
}

#search {
    border: 1px solid #dadfe3;
    border-radius: 4px;
    background-color: rgb(242, 244, 245);
    text-indent: 5px;
}

#perPage {
    border: 1px solid #dadfe3;
    border-radius: 4px;
    background-color: rgb(242, 244, 245);
    margin: auto 5px;
}

#perPage {
    width: 40px;
}

#totalResults {
    margin-left: 5px;
}

#mainTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

th {
    text-align: left;
}

.emptyRow{
    height: 51px;
}

.dataRow td {
    border-bottom: 1px solid #dadfe3;
}


.elementImage {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    transition-duration: .02s;
    background-size: cover;
    background-position: center;
}

.elementTitle {
    text-indent: 20px;
}

table img:hover {
    transform: scale(1.02);
}

#noResultsFound {
    margin-top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#noResultsFound span {
    font-size: 100px;
    color: #189AD6;
}

#pagesButtons {
    display: flex;
    justify-content: center;
}

#pagesButtons button {
    height: 30px;
    width: 30px;
    border: 1px solid #dadfe3;
    border-radius: 4px;
    background-color: rgb(242, 244, 245);
    cursor: pointer;
}

#allBtns {
    display: flex;
}

#addElement {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    border-radius: 4px;
    padding: 11px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #199bd7;
    border: none;
    transition-duration: .15s;
    cursor: pointer;
}

#addElement:hover{
    background-color: #1475a1;
}

#myForm{
    width: 300px;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.formInput{
    width: 100%;
}

.noFocus:focus-within {
    outline: none;
}

@font-face {
    font-family: avenirRoman;
    src: url(/assets/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: avenirBold;
    src: url(/assets/AvenirLTStd-Black.otf);
}